/* for search field*/
.wd-search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-top: 20px;
}

.wd-search-input {
    position: relative;
    margin-left: 30px;
}

.wd-rounded-input {
    border-radius: 20px;
    padding: 5px 30px 5px 40px;
    color: darkgray;    
    background-color: #f5f5f5;
    width: 500%;
    border: none;
    outline: none;
}

.wd-search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  color: #999;
}

.wd-gear-icon {
    margin-left: 400px;
    color: darkgray;
    cursor: pointer;
}

.wd-tabs-container {
    background-color: white;
    padding: 10px;
    margin-bottom: -10px;
  }
  
  .wd-tabs {
    list-style-type: none;
    display: flex;
  }
  
  .wd-tab {
    margin-right: 40px;
  }

  .wd-tab-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: gray;
  }
  
  .wd-tab-text.selected {
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
  .wd-tab.active .wd-underline {
    border-bottom: 5px solid #0062ffb5;
    border-radius: 5px;
  }
  
  .wd-underline {
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin-top: 5px;
  }
  
  .wd-span {
    display: inline-block;
    padding-bottom: 5px;
  }

  .wd-image-container {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    text-align: center;
    margin-top: -16px;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 580px;
  }
  
  .wd-image-container img {
    width: 100%;
  }

  .wd-image-text {
    position: relative;
    bottom: 60px;
    left: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }

  .wd-tuit-list {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    top: 110px;
    
  }
  
  .wd-tuit-item {
    position: relative;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 5px;
  }
  
  .wd-tuit-category {
    font-weight: bold;
    color: #6e6e6ea9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .wd-tuit-author {
    font-weight: bold;
    color: #000000;
  }
  
  .wd-tuit-stats {
    color: #999;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  
  .wd-tuit-options {
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
  }

  .wd-live-label {
    position: relative;
    left: -267px;
    bottom: -610px;
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 30px;
  }

  .wd-live-label::before {
    content: ".";
    position: absolute;
    top: 2px; /* Adjust this value to control the space above the dot */
    right: 41px;
  }

  .wd-event-label {
    position: relative;
    left: -270px;
    bottom: -610px;
    color:white;
  }





